<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container">

  <form role="form" action="/reservation" method="post" th:object="${reservationSeat}">
    <div class="form-group">
      <div >
        <label>선택 날짜 </label>
        <input type="text" th:field="*{registerDate}"  >
      </div>

      <div >
        <label>테이블 번호 </label>
        <input type="text" th:field="*{seatNum}"  >
      </div>

      <label >시간</label>

      <select name="seatNum" id="seats" class="form-control">
        <option value="">시간</option>
        <option th:each="time : *{getTime().list()}"
                th:value="${time}"
                th:text="${time}" />
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>

</div> <!-- /container -->
</body>
</html>