<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Restaurant</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Plugins-->
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <!-- Template core CSS-->
    <link href="assets/css/template.css" rel="stylesheet">
</head>
<body>

<!-- Preloader-->
<div class="page-loader">
    <div class="page-loader-inner">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Preloader end-->

<!-- Header-->
<header class="header header-transparent">
    <div class="container-fluid">
        <!-- Brand-->
        <div class="inner-header"><a class="inner-brand" href="/admin" style="color: black">Restaurant</a></div>
        <div class="extra-nav">
            <ul>
                <p style="margin-top:12px; text-align:center">
                    User
                </p>
            </ul>
        </div>
    </div>
</header>
<!-- Header end-->

<!-- Wrapper-->
<div class="wrapper">
    <!-- Hero-->
    <section class="module-cover parallax" data-background="assets/images/rest.jpg" data-overlay="0.1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Restaurant</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item"><a href="logout">Logout</a></li>
                        <li class="breadcrumb-item active">&gt;User&lt;</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero end-->

    <!-- Shop Grid-->
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="row row-post-thumbnail">
                    <!-- Post-->
                    <article class="post row align-items-center">
                        <div style="width:400px;height:280px;display:flex">
                            <div class="post-preview"><a href="/selectdate"><img src="assets/images/reserve.jpg" alt="" style="width:400px;height:280px;object-fit:cover;"></a></div>
                        </div>
                        <div style="width:400px;height:280px;display:flex;padding-left:30px" class="post row align-items-center">
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="/selectdate">현장 예약</a></h2>
                                    <ul class="post-meta">
                                        <li>Record Booking</li>
                                        <!--<li><a href="#">Branding</a>, <a href="#">Design</a></li>
                                        <li><a href="#">3 Comments</a></li> -->
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <p>예약 가능한 테이블에 대해 사전예약을 진행합니다.</p>
                                    <p><a href="/selectdate">이동</a></p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Post end-->
                    <!-- Post-->
                    <article class="post row align-items-center">
                        <div style="width:400px;height:280px;display:flex"><!--<div class="col-md-5">-->
                            <div class="post-preview"><a href="reservationAdminFind"><img src="assets/images/display.jpg" alt="" style="width:400px;height:280px;object-fit:cover;"></a></div>
                        </div>
                        <div style="width:400px;height:280px;display:flex;padding-left:30px" class="post row align-items-center"><!-- <div class="col-md-7"> -->
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="reservationAdminFind" style="width:400px;height:280px;object-fit:cover;">예약 조회</a></h2>
                                    <ul class="post-meta">
                                        <li>Display Booking</li>
                                        <!--<li><a href="#">Branding</a>, <a href="#">Design</a></li>
                                        <li><a href="#">3 Comments</a></li> -->
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <p>테이블 예약 현황을 조회합니다..</p>
                                    <p><a href="reservationAdminFind">이동</a></p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Post end-->
                    <!-- Post-->
                    <article class="post row align-items-center">
                        <div style="width:400px;height:280px;display:flex"><!--<div class="col-md-5">-->
                            <div class="post-preview"><a href="/register"><img src="assets/images/table.jpg" alt="" style="width:400px;height:280px;object-fit:cover;"></a></div>
                        </div>
                        <div style="width:400px;height:280px;display:flex;padding-left:30px" class="post row align-items-center"><!-- <div class="col-md-7"> -->
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="/register" style="width:400px;height:280px;object-fit:cover;">테이블 추가</a></h2>
                                    <ul class="post-meta">
                                        <li>Add Table</li>
                                        <!--<li><a href="#">Branding</a>, <a href="#">Design</a></li>
                                        <li><a href="#">3 Comments</a></li> -->
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <p>예약 받을 테이블을 지정합니다.</p>
                                    <p><a href="/register">이동</a></p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Post end-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-MY="40px"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Grid-->

</div>
<!-- Wrapper end-->

<!-- Scripts-->
<script src="assets/js/custom/jquery.min.js"></script>
<script src="assets/js/custom/popper.min.js"></script>
<script src="assets/js/bootstrap/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
<script src="assets/js/custom/plugins.min.js"></script>
<script src="assets/js/custom/custom.min.js"></script>
</body>
</html>