<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
<body>
<div class="container">
    <div>
        <form  action="/reservationDelete" method="post">
            <button type="submit" class="btn btn-primary">삭제</button>
        </form>

        <form  action="/reservationFind" method="post">
            <button type="submit" class="btn btn-primary">조회</button>
        </form>

        <form  action="/reservationAdminFind" method="post">
            <button type="submit" class="btn btn-primary">관리자 조회</button>
        </form>


        <form  action="/reservationUpdate" method="post">
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
        <br/>
    </div >
</div> <!-- /container -->
</body>
</html>